Repository Message-Photon-Studios/Rock-Bottom, pull requests merged in 2024-10, with the labels that each got.

#639 Bug Fix - RectTransform
  Assets/UI/PlayerUI/ColorSlotController.cs
Labels: System design

#640 Balancing rainbow
  Assets/Enemies/Scripts/EnemyStats.cs
  Assets/Player/ColorSpells/Color Beam.prefab
  Assets/Player/ColorSystem/ColorEffects/RainbowEffect.asset
  Assets/Player/ColorSystem/GameColor/Blue.asset
  Assets/Player/ColorSystem/GameColor/Green.asset
  Assets/Player/ColorSystem/GameColor/Orange.asset
  Assets/Player/ColorSystem/GameColor/Purple.asset
  Assets/Player/ColorSystem/GameColor/Rainbow.asset
  Assets/Player/ColorSystem/GameColor/Red.asset
  Assets/Player/ColorSystem/GameColor/Yellow.asset
  Assets/Player/Player.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/CrystalTall.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Floor/FloorCrossing.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Floor/FloorDeep.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Floor/FloorSmall.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/RoofCaves/Tower.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/RoofCaves/UpperPath.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/ShroomForest/ShroomForestLockedRoom.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/ShroomForest/ShroomForestStairRoom.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperElevator.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperSmall.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperTinyCrossing.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperWallR.prefab
Labels: Gameplay Design, Spells

#645 Balanced enemies and fixed sub enemy death
  Assets/Animations/CrystalBombarder/Bombarder_projectile.controller
  Assets/Animations/CrystalBombarder/bombarder-bomb-explosion.anim
  Assets/Enemies/1. Crystal Caves Enemies/Shatter/Shatter.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFly/SirFly.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFly/SirFlyL.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFly/SirFlyR.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFly/SirFlyU.prefab
  Assets/Enemies/1. Crystal Caves Enemies/Spikey.prefab
  Assets/Enemies/EnemyBehaviours/SuicideEnemy.cs
  Assets/Enemies/EnemyBehaviours/SuicideEnemy.cs.meta
  Assets/Enemies/Scripts/EnemyStats.cs
  Assets/Enemies/Scripts/QuakeProjectile.cs
  Assets/Enemies/Scripts/SirFlyShard.cs
  Assets/GameManager/GameManager.prefab
  Assets/Player/ColorSystem/ColorInventory.cs
  Assets/Player/ColorSystem/ColorObjects/PoisonOrb.cs
  Assets/Player/Items/ItemEffects/ColorBuffItem.cs
  Assets/Player/Player.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/CrystalCrossing.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/CrystalTall.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/CrystalWallR.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Floor/FloorCrossing.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Floor/FloorDeep.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/RoofCaves/DroppersDomain.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/RoofCaves/Tower.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperElevator.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperSmall.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperTinyCrossing.prefab
  Assets/Resources/Rooms/CrystalCaves/Level_1/NormalRooms/Upper/UpperWallR.prefab
  Assets/UI/PlayerUI/TipsManager.cs
Labels: Gameplay Design, System design
