Repository Message-Photon-Studios/Rock-Bottom, pull requests merged in 2024-08, with the labels that each got.

#576 Changed animation attack speed
  Assets/Animations/Player/Player-default-attack.anim
  Assets/Animations/Player/spell-smack.anim
  Assets/Textures/Sylvia/Sylvia Animation Sheets/Masks/sylvia-smack-sheet_mask.png
  Assets/Textures/Sylvia/Sylvia Animation Sheets/Masks/sylvia-spell-smack-sheet-mask.png
  Assets/Textures/Sylvia/Sylvia Animation Sheets/sylvia-smack-sheet.png
  Assets/Textures/Sylvia/Sylvia Animation Sheets/sylvia-smack-sheet.png.meta
  Assets/Textures/Sylvia/Sylvia Animation Sheets/sylvia-spell-smack-sheet.png
  Assets/Textures/Sylvia/Sylvia Animation Sheets/sylvia-spell-smack-sheet.png.meta
Labels: Animation

#595 Color Tweaks
  Assets/Enemies/Scripts/EnemyStats.cs
  Assets/Player/ColorSystem/ColorEffects/OrangeColorEffect.cs
  Assets/Player/ColorSystem/ColorEffects/RedColorEffect.cs
  Assets/Player/ColorSystem/ColorEffects/RedEffect.asset
  Assets/Player/ColorSystem/ColorEffects/YellowColorEffect.cs
  Assets/Player/ColorSystem/ColorObjects/HealingOrb.cs
  Assets/Player/ColorSystem/ColorObjects/healingOrb.prefab
Labels: Gameplay Design, System design

#596 Changed Boss hand sleep animations
  Assets/Animations/BossEnemy/Hands/bossHand_falling_asleep.anim
  Assets/Animations/BossEnemy/Hands/bossHand_sleeping.anim
  Assets/Animations/BossEnemy/Hands/bossHand_waking_up.anim
  Assets/Animations/BossEnemy/Hands/floating_fallingAsleep.png
  Assets/Animations/BossEnemy/Hands/floating_sleeping.png
  Assets/Animations/BossEnemy/Hands/floating_wakingUp.png
  Assets/Textures/Boss.meta
  Assets/Textures/Boss/Boss Animation Sheets.meta
  Assets/Textures/Boss/Boss Animation Sheets/Masks.meta
  Assets/Textures/Boss/Boss Animation Sheets/Masks/floating_fallingAsleep_mask.png
  Assets/Textures/Boss/Boss Animation Sheets/Masks/floating_fallingAsleep_mask.png.meta
  Assets/Textures/Boss/Boss Animation Sheets/Masks/floating_sleeping_mask.png
  Assets/Textures/Boss/Boss Animation Sheets/Masks/floating_sleeping_mask.png.meta
  Assets/Textures/Boss/Boss Animation Sheets/Masks/floating_wakingUp_mask.png
  Assets/Textures/Boss/Boss Animation Sheets/Masks/floating_wakingUp_mask.png.meta
  Assets/Textures/Boss/Boss Animation Sheets/floating_fallingAsleep.png
  Assets/Textures/Boss/Boss Animation Sheets/floating_fallingAsleep.png.meta
  Assets/Textures/Boss/Boss Animation Sheets/floating_sleeping.png
  Assets/Textures/Boss/Boss Animation Sheets/floating_sleeping.png.meta
  Assets/Textures/Boss/Boss Animation Sheets/floating_wakingUp.png
  Assets/Textures/Boss/Boss Animation Sheets/floating_wakingUp.png.meta
  Assets/Textures/Enemies.meta
Labels: Animation

#608 Coins Float
  Assets/Enemies/Coins/CoinItem.cs
  Assets/Resources/Coins/coin1.prefab
  Assets/Resources/Coins/coin5.prefab
Labels: Items

#610 Bottles dropped from player when swapped
  Assets/Player/Items/Spell Bottle Material.physicsMaterial2D
  Assets/Player/Items/Spell Bottle Material.physicsMaterial2D.meta
  Assets/Player/Items/SpellPickup.prefab
  Assets/Player/SpellsSystem/SpellPickup.cs
Labels: Items

#611 Fixing bugs
  Assets/Animations/Player/PlayerController.controller
  Assets/Player/Main Camera.prefab
  Assets/Player/PlayerMovement.cs
  Assets/Resources/Bottles/Materials/body/bottle 0.mat
  Assets/Resources/Bottles/Materials/body/bottle 1.mat
  Assets/Resources/Bottles/Materials/body/bottle 2.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 0.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 1.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 2.mat
  Assets/Resources/Rooms/CrystalCaves/Level_0/NormalRooms/CryssbrosCrossing.prefab
  Assets/Scenes/BossArena.unity
  Assets/Scenes/BossTutorialArena.unity
  Assets/Scenes/Tutorial.unity
Labels: Gameplay Design, Player, Boss

#612 Color divide and amount gain
  Assets/Enemies/1. Crystal Caves Enemies/Big Cryss.prefab
  Assets/Enemies/1. Crystal Caves Enemies/Crystal Bombarder.prefab
  Assets/Enemies/1. Crystal Caves Enemies/Crystal Crawler.prefab
  Assets/Enemies/1. Crystal Caves Enemies/Crystal Quake.prefab
  Assets/Enemies/1. Crystal Caves Enemies/Crystoffer.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFly.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFlyL.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFlyR.prefab
  Assets/Enemies/1. Crystal Caves Enemies/SirFlyU.prefab
  Assets/Enemies/1. Crystal Caves Enemies/Spikey.prefab
  Assets/Enemies/2. Pebbel Area Enemies/Beamy.prefab
  Assets/Enemies/2. Pebbel Area Enemies/Big Bettan.prefab
  Assets/Enemies/2. Pebbel Area Enemies/Peblit.prefab
  Assets/Enemies/BossEnemy/BossHand.prefab
  Assets/Enemies/BossEnemy/BossHandHunter.prefab
  Assets/Enemies/BossEnemy/Void Boss.prefab
  Assets/Enemies/BossEnemy/Wisp.prefab
  Assets/Enemies/Dummy.prefab
  Assets/InputSystem/Controls.cs
  Assets/InputSystem/Controls.inputactions
  Assets/Player/ColorSystem/ColorInventory.cs
  Assets/Player/ColorSystem/GameColor.cs
  Assets/Player/ColorSystem/GameColor/Blue.asset
  Assets/Player/ColorSystem/GameColor/Green.asset
  Assets/Player/ColorSystem/GameColor/Orange.asset
  Assets/Player/ColorSystem/GameColor/Purple.asset
  Assets/Player/ColorSystem/GameColor/Rainbow.asset
  Assets/Player/ColorSystem/GameColor/Red.asset
  Assets/Player/ColorSystem/GameColor/Yellow.asset
  Assets/Player/Player.prefab
  Assets/Resources/Bottles/Materials/body/bottle 0.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 0.mat
  Assets/Scenes/Tutorial.unity
  Assets/UI/PlayerUI/ColorSlotController.cs
Labels: Gameplay Design, Player

#613 Fixing color divide
  Assets/InputSystem/Controls.cs
  Assets/InputSystem/Controls.inputactions
  Assets/Player/ColorSystem/ColorInventory.cs
  Assets/Resources/Bottles/Materials/body/bottle 0.mat
  Assets/Resources/Bottles/Materials/body/bottle 1.mat
  Assets/Resources/Bottles/Materials/body/bottle 2.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 0.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 1.mat
  Assets/Resources/Bottles/Materials/cap/bottleCap 2.mat
Labels: Gameplay Design, Player

#615 Brush update
  Assets/Enemies/EnemyBehaviours/EnemyObjectSpawnerAim.cs
  Assets/Player/ColorSystem/ColorInventory.cs
  Assets/UI/PlayerUI/ColorSlotController.cs
Labels: Gameplay Design, Player
